In [1]:
########### RODAR ###########

# import pandas as pd
# from IPython.core.display import HTML
# import seaborn as sns
# import plotly.express as px
# import matplotlib.pyplot as plt
# import calendar
# from matplotlib import gridspec
# import ipywidgets as widgets
# from ipywidgets import fixed 

########### RODAR ###########

In [2]:
########### RODAR ###########

# path = 'C:/Users/jps/Desktop/Python/repos/python_zero_ao_ds1/datasets/house_rocket/kc_house_data.csv'
# df = pd.read_csv(path)

# describe_df = df.describe()
# df['date'] = df['date'].str.slice(stop=8)
# df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
# for i in ['sqft_lot','sqft_above','sqft_basement','sqft_lot15','sqft_living15']:
#     df[i]=df[i]*(0.092903)

# def jupyter_settings():
#     %matplotlib inline
#     %pylab inline
#     %config InlineBackend.figure_format = 'retina'

#     plt.style.use('ggplot')
#     plt.rcParams['figure.figsize'] = [16, 12]
#     plt.rcParams['font.size'] = 24

#     display(HTML('<style>.container { width:100% !important; }</style>'))
#     pd.options.display.max_columns = None
#     pd.options.display.max_rows = None
#     pd.options.display.float_format = '{:,.4f}'.format
#     pd.set_option('display.expand_frame_repr', False)
#     pd.set_option('display.max_columns', None)
#     pd.set_option('display.max_rows', None)

#     sns.set()
    
# jupyter_settings()

########### RODAR ###########

Populating the interactive namespace from numpy and matplotlib

In [3]:
# Pergunta 1:

# df['date'].count()

In [4]:
# Pergunta 2:

# len(list(df.columns))-2

In [5]:
# Pergunta 3:

# list(df.drop(['id','date'],axis=1).columns)

In [6]:
# Pergunta 4:

# df.sort_values(by=['price'], ascending=False).loc[7252]

In [7]:
# # Pergunta 6:
# print('A6: ',df['bedrooms'].sum())
# # Pergunta 7:
# print('A7: ',(df['bathrooms'] == 2).sum())
# # Pergunta 8:
# print('A8: ',df['price'].mean())
# # Pergunta 9:
# print('A9: ', df[['price','bathrooms']][df['bathrooms'] == 2].mean()[0])
# # Pergunta 10:
# print('A10:', df[['price','bedrooms']][df['bedrooms'] == 3].min()[0])
# # Pergunta 11:
# print('A11:', df[df['sqft_living'] > (300/0.093)].count()[0])
# # Pergunta 12:
# print('A12:', df[df['floors'] > 2].count()[0])
# # Pergunta 13:
# print('A13:', df[df['waterfront'] == 1].count()[0])
# # Pergunta 14:
# print('A14:', df[(df['bedrooms'] == 3)&(df['waterfront'] == 1)].count()[0])
# # Pergunta 15:
# print('A15:', df['bathrooms'][(df['sqft_living'] > (300/0.093)) & (df['sqft_living'] > 2)].count())

In [8]:
########### RODAR ###########

# df['standard'] = 'High'
# df.loc[df['price']<540000, 'standard'] = 'Low'
# report = df[['id','date','price','bedrooms','sqft_lot','standard']].sort_values(by=['price'], ascending=False)
# report.to_csv('C:/Users/jps/Desktop/Python/repos/python_zero_ao_ds1/datasets/house_rocket/report_aula02.csv', index = False)

########### RODAR ###########

In [9]:
# data_map = df[['id','price','lat','long']]
# mapa = px.scatter_mapbox(data_map, lat = 'lat', lon = 'long',
#                          hover_name = 'id', hover_data = ['price'],
#                          color = 'price',
#                          size = 'price',
#                          color_continuous_scale = px.colors.sequential.Rainbow,
#                          size_max=25,
#                          zoom = 2,
#                          height = 200)
# mapa.update_layout(mapbox_style = 'open-street-map')
# mapa.update_layout(height = 600, margin={'r':0,'t':0,'l':0,'b':0})
# mapa.show()
         
# mapa.write_html('C:/Users/jps/Desktop/Python/repos/python_zero_ao_ds1/datasets/house_rocket/mapa_house_rocket.html')

In [10]:
########### RODAR ###########

# report['date_yr'] = report['date'].dt.year 
# report['date_ywk'] = report['date'].dt.strftime( '%Y-Week-%U' )  
# report['date_day'] = report['date'].dt.strftime( '%d-%m-%Y' )

# report_yr = report[['date_yr','price']].groupby(['date_yr']).sum()
# report_ywk = report[['date_ywk','price']].groupby(['date_ywk']).mean()
# report_day = report[['date_day','price']].groupby(['date_day']).mean()

########### RODAR ###########

In [40]:
# # Criando o dashboard: 
# fig = plt.figure(figsize = (20, 12))
# specs = gridspec.GridSpec(ncols = 2, nrows = 2, figure = fig)

# # Posicionando os gráficos do dash:
# ax1 = fig.add_subplot(specs[0,:])
# ax2 = fig.add_subplot(specs[1,0])
# ax3 = fig.add_subplot(specs[1,1])

# # Gráfico 1:
# x_yr = report_yr.index
# y_yr = report_yr['price']
# ax1.bar(x_yr, y_yr)
    
# # Gráfico 2:
# x_day = report_day.index
# y_day = report_day['price']
# ax2.plot(x_day, y_day, 'bo', lw = 2.0, ls = '--')
# plt.xticks(rotation = 60)

# # Gráfico 3:
# x_ywk = report_ywk.index
# y_ywk = report_ywk['price']
# ax3.plot(x_ywk, y_ywk, 'bo', lw = 2.0, ls = '--')
# plt.xticks(rotation = 60)

# plt.show()

In [11]:
########### RODAR ###########

# df = df.drop(columns =['sqft_living15','sqft_lot15'])
# # dormitory_type = 1,2,3 para imóvel tipo = studio,apartamento,casa
# df['dormitory_type'] = None
# df.loc[df['bedrooms']==1, ['dormitory_type']] = 'studio'
# df.loc[df['bedrooms']==2, ['dormitory_type']] = 'apartmento'
# df.loc[df['bedrooms']>2, ['dormitory_type']] = 'casa'

########### RODAR ###########

In [42]:
# quest_2 = df[['bedrooms','price']].groupby(['bedrooms']).sum()
# x1 = quest_2.index
# y1 = quest_2['price']
# plt.figure(figsize = (20, 12))
# plt.bar(x1, y1)
# plt.show()

# quest_3 = df[['yr_built','price']].groupby(['yr_built']).mean()
# x2 = quest_3.index
# y2 = quest_3['price']
# x2_mean = [1900,2020]
# y2_mean = [df['price'].mean(),df['price'].mean()]
# plt.figure(figsize = (20, 12))
# plt.plot(x2, y2, x2_mean, y2_mean, 'bo', lw = 2.0, ls = '--')
# plt.show()

# quest_4 = df[['dormitory_type','price']].groupby(['dormitory_type']).mean()
# x3 = quest_4.index
# y3 = quest_4['price']
# plt.figure(figsize = (20, 12))
# plt.bar(x3, y3, width = 0.5)
# plt.show()

In [43]:
# fig = plt.figure(figsize = (20, 12))
# specs = gridspec.GridSpec(ncols = 2, nrows = 2, figure = fig)
# ax1 = fig.add_subplot(specs[0,:])
# ax2 = fig.add_subplot(specs[1,0])
# ax3 = fig.add_subplot(specs[1,1])

# ax1.bar(x1, y1)
# ax2.plot(x2, y2, x2_mean, y2_mean, 'bo', lw = 2.0, ls = '--')
# ques_3_ = df[['bedrooms','price']].groupby(['bedrooms']).mean()
# x3_, y3_ = ques_3_.index,ques_3_['price'] 
# ax3.bar(x3_, y3_)

# plt.show()

In [44]:
# fig = plt.figure(figsize = (20, 12))
# specs = gridspec.GridSpec(ncols = 2, nrows = 1, figure = fig)
# ax1 = fig.add_subplot(specs[0,0])
# ax3 = fig.add_subplot(specs[0,1])

# ax1.bar(x1, y1)
# ax3.bar(x3, y3, width = 0.5)

# plt.show()

In [45]:
# quest_5 = df.drop(df[df['yr_renovated']==0].index)
# quest_5 = quest_5[['yr_renovated','price']].groupby(['yr_renovated']).mean()
# x4 = quest_5.index
# y4 = quest_5['price']
# plt.figure(figsize = (20, 12))
# plt.plot(x4, y4, 'bo', lw = 2.0, ls = '--')
# plt.show()

In [46]:
# fig = plt.figure(figsize = (20, 12))
# specs = gridspec.GridSpec(ncols = 1, nrows = 2, figure = fig)
# ax2 = fig.add_subplot(specs[0,0])
# ax4 = fig.add_subplot(specs[1,0])

# ax2.plot(x2, y2, 'bo', lw = 2.0, ls = '--')
# ax4.plot(x4, y4, 'bo', lw = 2.0, ls = '--')

# plt.show()

In [47]:
# # API to get address info from pair of coordinates:

# from geopy.geocoders import Nominatim
# geolocator = Nominatim(user_agent="geoapiExercises")
# df[['house_number','road','neighbourhood','city','county','state']] = None
# coord = pd.DataFrame(df['lat'].astype("string")+', '+df['long'].astype("string"))

# for i in range(0,len(coord[0])):
#     print('Loop: {} / {}'.format(i, len(coord[0])))
#     try:
#         df.loc[i,['house_number']] = geolocator.reverse(coord[0].loc[i]).raw['address']['house_number']
#     except Exception:
#         pass
#     try:
#         df.loc[i,['road']] = geolocator.reverse(coord[0].loc[i]).raw['address']['road']
#     except Exception:
#         pass
#     try:
#         df.loc[i,['neighbourhood']] = geolocator.reverse(coord[0].loc[i]).raw['address']['neighbourhood']
#     except Exception:
#         pass
#     try:
#         df.loc[i,['city']] = geolocator.reverse(coord[0].loc[i]).raw['address']['city']
#     except Exception:
#         pass
#     try:
#         df.loc[i,['county']] = geolocator.reverse(coord[0].loc[i]).raw['address']['county']
#     except Exception:
#         pass
#     try:
#         df.loc[i,['state']] = geolocator.reverse(coord[0].loc[i]).raw['address']['state']
#     except Exception:
#         pass

In [48]:
# def update_map(df, waterfront, limit_price, limit_date):
#     df_map = df[(df['is_waterfront'] == waterfront) & 
#                 (df['price']>= limit_price[0]) &
#                 (df['price']<= limit_price[1]) &
#                 (df['date']>= limit_date)]
    
#     map_interactive = px.scatter_mapbox(df_map, 
#                                         lat = 'lat', 
#                                         lon = 'long',
#                                         color = 'level',
#                                         size = 'price',
#                                         color_continuous_scale = px.colors.sequential.Rainbow,
#                                         size_max=15,
#                                         zoom = 10)
#     map_interactive.update_layout(mapbox_style = 'open-street-map')
#     map_interactive.update_layout(height = 600, margin={'r':0,'t':0,'l':0,'b':0})
#     map_interactive.show()
    
# widgets.interactive(update_map, df = fixed(df_map), waterfront = waterfront_bar, limit_price = price_limit, limit_date = date_limit)

In [39]:
# def update_graphs(df, limit_date):
    
#     df_map = df
#     df_map['date'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m-%d')
#     df_map['year'] = pd.to_datetime(df_map['date']).dt.strftime('%Y')
#     df_map['week'] = pd.to_datetime(df_map['date']).dt.strftime('%Y-%U')
    
#     df_map = df[df_map['date']>= limit_date]
    
#     # Criando o dashboard: 
#     fig = plt.figure(figsize = (21, 12))
#     specs = gridspec.GridSpec(ncols = 2, nrows = 2, figure = fig)

#     # Posicionando os gráficos do dash:
#     ax1 = fig.add_subplot(specs[0,:])
#     ax2 = fig.add_subplot(specs[1,0])
#     ax3 = fig.add_subplot(specs[1,1])

#     # Gráfico 1:
#     df_ax1 = df_map[['id','year']].groupby('year').count().reset_index()
#     ax1.bar(df_ax1['year'], df_ax1['id'])

#     # Gráfico 2:
#     df_ax2 = df_map[['week','price']].groupby('week').mean().reset_index()
#     ax2.plot(df_ax2['week'], df_ax2['price'], 'bo', lw = 2.0, ls = '--')
#     plt.xticks(rotation = 60)

#     # Gráfico 3:
#     df_ax3 = df_map[['date','price']].groupby('date').mean().reset_index()
#     ax3.plot(df_ax3['date'], df_ax3['price'], 'bo', lw = 2.0, ls = '--')
#     plt.xticks(rotation = 60)
    
# widgets.interactive(update_graphs, df = fixed(df_map), limit_date = date_limit)

In [ ]:
# df_map = df[['date','id','lat','long','price']].copy()
# df_map['level'] = pd.cut(df_map['price'], [0,321950,450000,645000,15000000], labels = [0,1,2,3]).astype(int64)
# df_map['is_waterfront'] = df['waterfront'].apply(lambda x: 'yes' 
#                                                      if x ==1 
#                                                      else 'no')

# Interactive buttons:

# price_limit = widgets.IntRangeSlider(
#     min = 0,
#     max = 8000000,
#     step = 20000,
#     description = 'Price Range:',
#     disabled=False,
#     orientation='horizontal',
#     readout=True,
#     readout_format='d',
#     style = {'description_width':'initial'}
# )
#
# built_year = widgets.Dropdown(
#     options = df['yr_built'].sort_values().unique().tolist(),
#     value = 1900,
#     description = 'Year of construction',
#     disable = False
# )
#
# bathroom_min = widgets.Dropdown(
#     options = df['bathrooms'].sort_values().astype(int64).unique().tolist(),
#     value = 0,
#     description = 'Mín. n° of bathrooms',
#     disable = False
# )
#
# mark_condition = widgets.Dropdown(
#     options = df['condition'].sort_values().unique().tolist(),
#     value = 1,
#     description = 'Property condition',
#     disable = False
# )
#
# sqft_living_min = widgets.SelectionSlider(
#     options = df['sqft_living'].sort_values().unique().tolist(),
#     value = df['sqft_living'].min(),
#     description = 'Minimum size of living room:',
#     continuous_update = False,
#     orientation = 'horizontal',
#     readout = True
# )

In [ ]:
# # Questão 1:
# df_map[['level','price']].groupby('level').mean()
#
# # Questão 2:
# df['size_type'] = pd.cut(df['sqft_living'], [0,1427,1910,2550,50000], labels = ['Size 0','Size 1','Size 2','Size 3'])
# df[['sqft_living', 'size_type']].groupby('size_type').mean()
#
# # Questão 3:
#
# def update_map(df, min_sqft_living, limit_price, min_bathroom, condition_mark ,year_built):
#     df_map = df[(df['sqft_living'] >= min_sqft_living) &
#                 (df['price']>= limit_price[0]) &
#                 (df['price']<= limit_price[1]) &
#                 (df['bathrooms'] >= min_bathroom) &
#                 (df['condition'] == condition_mark) &
#                 (df['yr_built'] == year_built)]
#
#     map_interactive = px.scatter_mapbox(df_map,
#                                         lat = 'lat',
#                                         lon = 'long',
#                                         color = 'price',
#                                         size = 'price',
#                                         color_continuous_scale = px.colors.sequential.Rainbow,
#                                         size_max=15,
#                                         zoom = 10)
#     map_interactive.update_layout(mapbox_style = 'open-street-map')
#     map_interactive.update_layout(height = 600, margin={'r':0,'t':0,'l':0,'b':0})
#     map_interactive.show()
#
# widgets.interactive(update_map, df = fixed(df),
#                     min_sqft_living = sqft_living_min,
#                     limit_price = price_limit,
#                     min_bathroom = bathroom_min,
#                     condition_mark = mark_condition,
#                     year_built = built_year
#                    )

# How to request an API without timeoutting (Paralell requests):

In [9]:
# ------------------------------
# Arquivo defs.py
# ------------------------------
#
# import time
# from geopy.geocoders import Nominatim

# geolocator = Nominatim( user_agent='geopiExercises' )

# def get_longlat( x ):
#    index, row = x
#    time.sleep(1)
#    response = geolocator.reverse( row['query'] )
#    address = response.raw['address']

#    try:
#        place_id = response.raw['place_id'] if 'place_id' in response.raw else 'NA'
#        osm_type = response.raw['osm_type'] if 'osm_type' in response.raw else 'NA'

#        country = address['country'] if 'country' in address else 'NA'
#        country_code = address['country_code'] if 'country_code' in address else 'NA'

#        return place_id, osm_type, country, country_code

#    except:
#        return None, None, None, None

import time
import defs
from multiprocessing import Pool

# df['query'] = df[['lat', 'long']].apply( lambda x: str( x['lat'] ) + ',' + str( x['long'] ), axis=1 )
# df1 = df[['id', 'query']].head()
#
# p = Pool(3)
# start = time.process_time()
# df1[['place_id', 'osm_type', 'country', 'country_code']] = p.map( defs.get_longlat, df1.iterrows() )
# print(time.process_time() - start)

0.0

# Módulo 5 - ETL basics:

In [ ]:
# ETL - Extraction - Transformation - Load:

In [7]:
# Imports:
import pandas as pd
from IPython.core.display import HTML
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
from matplotlib import gridspec
import ipywidgets as widgets
from ipywidgets import fixed

In [8]:
# Functions used:

# Used to setup jupyter notebook (wider cells, figure/graph pre-set, etc):
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    %config InlineBackend.figure_format = 'retina'

    plt.style.use('ggplot')
    plt.rcParams['figure.figsize'] = [16, 12]
    plt.rcParams['font.size'] = 24

    display(HTML('<style>.container { width:100% !important; }</style>'))
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.options.display.float_format = '{:,.4f}'.format
    pd.set_option('display.expand_frame_repr', False)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_rows', None)

    sns.set()
    
jupyter_settings()

# Used to understand the types of each column in a data frame and the statistical information:
def show_type_stats(data):
    print("\033[1m","COLUMN TYPES: ","\033[0m",'\n','\n',data.dtypes,'\n')
    print("\033[1m","DATAFRAME SHAPE:",'\n','\n',"\033[0m",data.shape,'\n')
    return pd.DataFrame(data.describe())

# Used to plot a interactive graph:
def interactive_map(df, min_sqft_living, limit_price, min_bathroom, condition_mark ,year_built):
    df_map = df[(df['sqft_living'] >= min_sqft_living) & 
                (df['price']>= limit_price[0]) &
                (df['price']<= limit_price[1]) &
                (df['bathrooms'] >= min_bathroom) &
                (df['condition'] == condition_mark) &
                (df['yr_built'] == year_built)]
    
    map_interactive = px.scatter_mapbox(df_map, 
                                        lat = 'lat', 
                                        lon = 'long',
                                        color = 'price',
                                        size = 'price',
                                        color_continuous_scale = px.colors.sequential.Rainbow,
                                        size_max=15,
                                        zoom = 10)
    map_interactive.update_layout(mapbox_style = 'open-street-map')
    map_interactive.update_layout(height = 600, margin={'r':0,'t':0,'l':0,'b':0})
    map_interactive.show()

Populating the interactive namespace from numpy and matplotlib

In [9]:
# Importing data into dataframe:
path = 'C:/Users/jps/Desktop/Python/repos/python_zero_ao_ds1/datasets/house_rocket/kc_house_data.csv'
df = pd.read_csv(path)

# Understanding data:
show_type_stats(df)

 COLUMN TYPES:

 id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

 DATAFRAME SHAPE:

  (21613, 21)

                      id          price    bedrooms   bathrooms  sqft_living       sqft_lot      floors  waterfront        view   condition       grade  sqft_above  sqft_basement    yr_built  yr_renovated     zipcode         lat        long  sqft_living15   sqft_lot15
count        21,613.0000    21,613.0000 21,613.0000 21,613.0000  21,613.0000    21,613.0000 21,613.0000 21,613.0000 21,613.0000 21,613.0000 21,613.0000 21,613.0000    21,613.0000 21,613.0000   21,613.0000 21,613.0000 21,613.0000 21,613.0000    21,613.0000  21,613.0000
mean  4,580,301,520.8650   540,088.1418      3.3708      2.1148   2,079.8997    15,106.9676      1.4943      0.0075      0.2343      3.4094      7.6569  1,788.3907       291.5090  1,971.0051       84.4023 98,077.9398     47.5601   -122.2139     1,986.5525  12,768.4557
std   2,876,565,571.3120   367,127.1965      0.9301      0.7702     918.4409    41,420.5115      0.5400      0.0865      0.7663      0.6507      1.1755    828.0910       442.5750     29.3734      401.6792     53.5050      0.1386      0.1408       685.3913  27,304.1796
min       1,000,102.0000    75,000.0000      0.0000      0.0000     290.0000       520.0000      1.0000      0.0000      0.0000      1.0000      1.0000    290.0000         0.0000  1,900.0000        0.0000 98,001.0000     47.1559   -122.5190       399.0000     651.0000
25%   2,123,049,194.0000   321,950.0000      3.0000      1.7500   1,427.0000     5,040.0000      1.0000      0.0000      0.0000      3.0000      7.0000  1,190.0000         0.0000  1,951.0000        0.0000 98,033.0000     47.4710   -122.3280     1,490.0000   5,100.0000
50%   3,904,930,410.0000   450,000.0000      3.0000      2.2500   1,910.0000     7,618.0000      1.5000      0.0000      0.0000      3.0000      7.0000  1,560.0000         0.0000  1,975.0000        0.0000 98,065.0000     47.5718   -122.2300     1,840.0000   7,620.0000
75%   7,308,900,445.0000   645,000.0000      4.0000      2.5000   2,550.0000    10,688.0000      2.0000      0.0000      0.0000      4.0000      8.0000  2,210.0000       560.0000  1,997.0000        0.0000 98,118.0000     47.6780   -122.1250     2,360.0000  10,083.0000
max   9,900,000,190.0000 7,700,000.0000     33.0000      8.0000  13,540.0000 1,651,359.0000      3.5000      1.0000      4.0000      5.0000     13.0000  9,410.0000     4,820.0000  2,015.0000    2,015.0000 98,199.0000     47.7776   -121.3150     6,210.0000 871,200.0000

In [10]:
# Drop useless columns:
df = df.drop(columns =['sqft_living15','sqft_lot15'])

# Date to datetime64 in YYYY-MM-DD format:
df['date'] = df['date'].str.slice(stop=8)
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

# Converting sqft to m² in all columns except sqft_living because that will be done after classification with benchmark:
df[['sqft_lot','sqft_above','sqft_basement']].apply(lambda x: x*0.092903)

# Classification of N° BEDROOMS, PRICE, WATERFRONT and SQFT_LIVING through benchmark:
    # Dormitory types definition:
df['dormitory_type'] = df['bedrooms'].apply(lambda x: 'studio' if (x == 0)|(x == 1) else ('apartment' if x == 2 else 'house'))

    # Standard definition:
df['standard'] = pd.cut(df['price'], [0, 540000, 10000000], labels = ['High','Low'])

    # Water front definition:
df['is_waterfront'] = df['waterfront'].apply(lambda x: 'yes' if (x == 1) else 'no')

    # Size type definition:
df['size_type'] = pd.cut(df['sqft_living'], [0,1427,1910,2550,50000], labels = ['Size 0','Size 1','Size 2','Size 3'])

# Creating a year, week and day column:
df['date_yr'] = df['date'].dt.year 
df['date_ywk'] = df['date'].dt.strftime( '%Y-Week-%U' )  
df['date_day'] = df['date'].dt.strftime( '%d-%m-%Y' )


# Evaluating data again before visualazing:
show_type_stats(df)

 COLUMN TYPES:

 id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                  int64
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built                   int64
yr_renovated               int64
zipcode                    int64
lat                      float64
long                     float64
dormitory_type            object
standard                category
is_waterfront             object
size_type               category
date_yr                    int64
date_ywk                  object
date_day                  object
dtype: object

 DATAFRAME SHAPE:

  (21613, 26)

                      id          price    bedrooms   bathrooms  sqft_living       sqft_lot      floors  waterfront        view   condition       grade  sqft_above  sqft_basement    yr_built  yr_renovated     zipcode         lat        long     date_yr
count        21,613.0000    21,613.0000 21,613.0000 21,613.0000  21,613.0000    21,613.0000 21,613.0000 21,613.0000 21,613.0000 21,613.0000 21,613.0000 21,613.0000    21,613.0000 21,613.0000   21,613.0000 21,613.0000 21,613.0000 21,613.0000 21,613.0000
mean  4,580,301,520.8650   540,088.1418      3.3708      2.1148   2,079.8997    15,106.9676      1.4943      0.0075      0.2343      3.4094      7.6569  1,788.3907       291.5090  1,971.0051       84.4023 98,077.9398     47.5601   -122.2139  2,014.3230
std   2,876,565,571.3120   367,127.1965      0.9301      0.7702     918.4409    41,420.5115      0.5400      0.0865      0.7663      0.6507      1.1755    828.0910       442.5750     29.3734      401.6792     53.5050      0.1386      0.1408      0.4676
min       1,000,102.0000    75,000.0000      0.0000      0.0000     290.0000       520.0000      1.0000      0.0000      0.0000      1.0000      1.0000    290.0000         0.0000  1,900.0000        0.0000 98,001.0000     47.1559   -122.5190  2,014.0000
25%   2,123,049,194.0000   321,950.0000      3.0000      1.7500   1,427.0000     5,040.0000      1.0000      0.0000      0.0000      3.0000      7.0000  1,190.0000         0.0000  1,951.0000        0.0000 98,033.0000     47.4710   -122.3280  2,014.0000
50%   3,904,930,410.0000   450,000.0000      3.0000      2.2500   1,910.0000     7,618.0000      1.5000      0.0000      0.0000      3.0000      7.0000  1,560.0000         0.0000  1,975.0000        0.0000 98,065.0000     47.5718   -122.2300  2,014.0000
75%   7,308,900,445.0000   645,000.0000      4.0000      2.5000   2,550.0000    10,688.0000      2.0000      0.0000      0.0000      4.0000      8.0000  2,210.0000       560.0000  1,997.0000        0.0000 98,118.0000     47.6780   -122.1250  2,015.0000
max   9,900,000,190.0000 7,700,000.0000     33.0000      8.0000  13,540.0000 1,651,359.0000      3.5000      1.0000      4.0000      5.0000     13.0000  9,410.0000     4,820.0000  2,015.0000    2,015.0000 98,199.0000     47.7776   -121.3150  2,015.0000

In [11]:
# Carga:

In [ ]:
# Interactive buttons:

    # Slider for mín-max price filtering:
price_limit = widgets.IntRangeSlider(
    min = 0,
    max = 8000000,
    step = 20000,
    description = 'Price Range:',
    disabled=False,
    orientation='horizontal',
    readout=True,
    readout_format='d',
    style = {'description_width':'initial'}
)

    # Dropdown for choosing minimum built year:
built_year = widgets.Dropdown(
    options = df['yr_built'].sort_values().unique().tolist(),
    value = 1900,
    description = 'Year of construction',
    disable = False
)

    # Dropdown for minimum number of bathrooms:
bathroom_min = widgets.Dropdown(
    options = df['bathrooms'].sort_values().astype(int64).unique().tolist(),
    value = 0,
    description = 'Mín. n° of bathrooms',
    disable = False
)

    # Dropdown for minimum condition grade:
mark_condition = widgets.Dropdown(
    options = df['condition'].sort_values().unique().tolist(),
    value = 1,
    description = 'Property condition',
    disable = False
)

    # Slider for minimum living area filtering:
sqft_living_min = widgets.SelectionSlider(
    options = df['sqft_living'].sort_values().unique().tolist(),
    value = df['sqft_living'].min(),
    description = 'Minimum size of living room:',
    continuous_update = False,
    orientation = 'horizontal',
    readout = True
)

    # Calling function for the map and choosing the buttons:
widgets.interactive(interactive_map, df = fixed(df),
                    min_sqft_living = sqft_living_min,
                    limit_price = price_limit,
                    min_bathroom = bathroom_min,
                    condition_mark = mark_condition,
                    year_built = built_year 
                   )